{:id "surf-club-vc"
 :project-root "./"
 :client-routes scvc.routes/routes
 :default-page-template scvc.templates/main
 :css-preamble ["resources/css/reset.css"
                "resources/css/bootstrap-grid.min.css"]
 :css-files [{:rules scvc.css-rules/rules
              :path "app.css"}]
 :client-cljs {:figwheel {}
               :compiler
               {:main scvc.browser.entry
                :recompile-dependents true
                :parallel-build true
                :hashbang false}}}


