{:id "charly-test-site"
 :project-root "resources/charly/test_site"
 :routes test-site.routes/routes
 :css-preamble ["resources/css/reset.css"
                "resources/css/bootstrap-grid.min.css"]
 :css-files [{:rules test-site.css-rules/rules
              :rules-path "src/cljc/test_site/css_rules.cljc"
              :path "app.css"}]
 :cljs {:figwheel {}
        :compiler
        {:main browser.entry
         :recompile-dependents true
         :closure-warnings {:externs-validation :off}
         :parallel-build true
         :hashbang false}}}








