{:paths ["../../../src/clj"
         "../../../src/cljc"
         "../../../src/cljs"
         "../../../src/cljs-browser"
         "../../../src/cljc"
         "src/cljs-browser"
         "src/cljc"
         "src/clj"]
 :deps {zk/rx-lib {:git/url "https://github.com/zk/rx-lib"
                   :sha "a721c8fa2a88a020876ccc095312ad8e8baf6f1b"}

        aleph {:mvn/version "0.4.6"},
        amazonica {:mvn/version "0.3.145"},
        bidi {:mvn/version "2.1.3"},
        byte-streams {:mvn/version "0.2.4"},
        byte-transforms {:mvn/version "0.1.4"},
        camel-snake-kebab {:mvn/version "0.4.1"},
        cheshire {:mvn/version "5.9.0"},
        clj-fuzzy {:mvn/version "0.4.1"},
        clj-http {:mvn/version "3.8.0"},
        cljfmt {:mvn/version "0.7.0"},
        cljs-http {:mvn/version "0.1.45"},
        cljs-node-io {:mvn/version "0.5.0"},
        cljsbuild {:mvn/version "1.1.7"},
        commons-io/commons-io {:mvn/version "2.8.0"}
        datascript {:mvn/version "0.18.4"},
        datascript-transit {:mvn/version "0.3.0"},
        garden {:mvn/version "1.3.5"},
        hawk {:mvn/version "0.2.11"},
        hiccup {:mvn/version "2.0.0-alpha1"},
        hiccups {:mvn/version "0.3.0"},
        hickory {:mvn/version "0.7.1"},
        honeysql {:mvn/version "0.9.1"},
        markdown-to-hiccup {:mvn/version "0.6.2"},
        mount {:mvn/version "0.1.13"},
        nasus {:mvn/version "0.1.7"},
        posh {:mvn/version "0.5.5"},
        cljsjs/react {:mvn/version "17.0.1-0"}
        cljsjs/react-dom {:mvn/version "17.0.1-0"}
        cljsjs/react-dom-server {:mvn/version "17.0.1-0"}
        reagent
        {:mvn/version "1.0.0-alpha2",
         :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]},
        ring {:mvn/version "1.7.1"},
        rum {:mvn/version "0.11.3"
             :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]},
        cljsjs/fuse {:mvn/version "2.6.2-0"},
        cljsjs/jsts {:mvn/version "1.6.0-0"},
        cljsjs/libphonenumber {:mvn/version "8.4.1-1"},
        cljsjs/popperjs {:mvn/version "1.14.3-1"},
        cljsjs/pouchdb {:mvn/version "7.0.0-0"},
        cljsjs/pouchdb-find {:mvn/version "7.0.0-1"},
        cljsjs/showdown {:mvn/version "1.4.2-0"},
        cljsjs/stripe {:mvn/version "3.0-0"},
        cljsjs/youtube {:mvn/version "1.1-0"},
        com.amazonaws/aws-java-sdk {:mvn/version "1.11.354"},
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"},
        com.bhauman/figwheel-main {:mvn/version "0.2.12"},
        com.rpl/specter {:mvn/version "1.1.3"},
        funcool/httpurr {:mvn/version "1.1.0"},
        funcool/tubax {:mvn/version "0.2.0"},
        hashobject/hashids {:mvn/version "0.2.0"},
        io.nervous/cljs-nodejs-externs {:mvn/version "0.2.0"},
        jansi-clj/jansi-clj {:mvn/version "0.1.1"}
        juji/editscript {:mvn/version "0.4.2"},
        lilactown/hx {:mvn/version "0.5.3"},
        me.raynes/conch {:mvn/version "0.8.0"},
        metosin/reitit-core {:mvn/version "0.5.10"},
        metosin/reitit-ring {:mvn/version "0.5.10"},
        nilenso/honeysql-postgres {:mvn/version "0.2.3"},
        org.clojure/clojure {:mvn/version "1.10.0"},
        org.clojure/clojurescript {:mvn/version "1.10.773"},
        org.clojure/core.async {:mvn/version "0.4.474"},
        org.clojure/java.data {:mvn/version "0.1.1"},
        org.clojure/spec.alpha {:mvn/version "0.2.176"},
        ;;org.clojure/test.check {:mvn/version "0.9.0"},
        org.clojure/test.check {:mvn/version "1.1.0"},
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        org.eclipse.jgit/org.eclipse.jgit
        {:mvn/version "5.5.1.201910021850-r"},
        org.pegdown/pegdown {:mvn/version "1.4.1"},
        prismatic/dommy {:mvn/version "1.1.0"}

        ;; nrepl
        cider/cider-nrepl {:mvn/version "0.25.5"}
        cider/piggieback {:mvn/version "0.5.2"}
        nrepl/nrepl {:mvn/version "0.8.3"}}
 
 :aliases {:charly
           {:main-opts
            ["-m" "charly.main"]}
           :cider-cljs
           {:extra-deps
            {org.clojure/clojure {:mvn/version "1.10.1"}
             org.clojure/clojurescript {:mvn/version "1.10.773"}
             cider/cider-nrepl {:mvn/version "0.25.5"}
             cider/piggieback {:mvn/version "0.5.2"}
             nrepl/nrepl {:mvn/version "0.8.3"}}
            :main-opts
            ["-m"
             "nrepl.cmdline"
             "--middleware"
             "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

           :preload-test
           {:extra-deps
            {org.clojure/clojure {:mvn/version "1.10.1"}
             org.clojure/clojurescript {:mvn/version "1.10.773"}
             cider/cider-nrepl {:mvn/version "0.25.5"}
             cider/piggieback {:mvn/version "0.5.2"}
             nrepl/nrepl {:mvn/version "0.8.3"}}
            :main-opts
            ["-m"
             "rx.jvm.ops.browser-dev"]}}}
