{:id "surfclub-web"
 :paths ["../rx-lib/src/clj"
         "../rx-lib/src/cljc"
         "../rx-lib/src/cljs"
         "../rx-lib/src/cljs-browser"
         "../rx-lib/src/cljc"
         "src/cljs-browser"
         "src/cljc"
         "src/clj"]
 :deps {zk/charly {:git/url "https://github.com/zk/charly"
                   :sha "f2dbbce6d16e6f7814e7b23b170240bd7decbffc"
                   :deps/root "lib"}}
 
 :aliases {:charly
           {:main-opts
            ["-m" "charly.main"]}
           :build-web
           {:main-opts
            ["-m" "charly.main" "-b"]}
           :cider-cljs
           {:extra-deps
            {org.clojure/clojure {:mvn/version "1.10.1"}
             org.clojure/clojurescript {:mvn/version "1.10.773"}
             cider/cider-nrepl {:mvn/version "0.25.5"}
             cider/piggieback {:mvn/version "0.5.2"}
             nrepl/nrepl {:mvn/version "0.8.3"}}
            :main-opts
            ["-m"
             "nrepl.cmdline"
             "--middleware"
             "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

           :preload-test
           {:extra-deps
            {org.clojure/clojure {:mvn/version "1.10.1"}
             org.clojure/clojurescript {:mvn/version "1.10.773"}
             cider/cider-nrepl {:mvn/version "0.25.5"}
             cider/piggieback {:mvn/version "0.5.2"}
             nrepl/nrepl {:mvn/version "0.8.3"}}
            :main-opts
            ["-m"
             "rx.jvm.ops.browser-dev"]}}}
